<div class="bg-white shadow-md rounded-xl p-6 mb-6">

  <h2 class="text-xl font-semibold mb-4">
    Find a Table
  </h2>

  <div class="grid md:grid-cols-3 gap-4">

    <!-- Guests -->
    <div>
      <label class="block text-sm font-medium mb-1">
        Guests
      </label>
      <input
        type="number"
        [(ngModel)]="capacity"
        class="w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        name="capacity"
        placeholder="Number of guests"
        min="1" required
      />
    </div>

    <!-- Start Time -->
    <div>
      <label class="block text-sm font-medium mb-1">
        Start Time
      </label>
      <input
        type="datetime-local"
        [(ngModel)]="startTime"
        name="startTime"
        class="w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
    </div>

    <!-- End Time -->
    <div>
      <label class="block text-sm font-medium mb-1">
        End Time
      </label>
      <input
        type="datetime-local"
        [(ngModel)]="endTime"
        name="endTime"
        class="w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
    </div>

    <!-- Zone -->
    <div class="mb-4">
        <label for="zone" class="block text-sm font-medium text-gray-700 mb-1">Choose zone</label>
        <select
            id="zone"
            [(ngModel)]="selectedZone"
            name="zone"
            class="block w-full border rounded-lg px-2 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
            @for (zone of zones; track zone.value) {
                <option class="block text-sm font-medium text-gray-700 mb-1" [ngValue]="zone.value">
                    {{ zone.label }}
                </option>
            }
        </select>
    </div>

  </div>

  <!-- Preferences -->
  <div class="mt-4">

    <p class="text-sm font-medium mb-2">
      Preferences
    </p>

    <div class="flex flex-wrap gap-6">

      <label class="flex items-center gap-2 cursor-pointer">
        <input 
          type="checkbox" 
          [(ngModel)]="nearWindow"
          name="nearWindow"
          class="w-4 h-4"
        />
        <span>Near window</span>
      </label>

      <label class="flex items-center gap-2 cursor-pointer">
        <input 
          type="checkbox" 
          [(ngModel)]="quietCorner"
          name="quietCorner"
          class="w-4 h-4"
        />
        <span>Quiet corner</span>
      </label>

      <label class="flex items-center gap-2 cursor-pointer">
        <input 
          type="checkbox" 
          [(ngModel)]="nearKidsZone"
          name="nearKidsZone"
          class="w-4 h-4"
        />
        <span>Kids zone</span>
      </label>

      <label class="flex items-center gap-2 cursor-pointer">
        <input 
          type="checkbox" 
          [(ngModel)]="accessible"
          name="accessible"
          class="w-4 h-4"
        />
        <span>Accessible</span>
      </label>

    </div>

  </div>

  <!-- Recommendation -->
  <div class="mt-6">

    <h3 class="text-md font-semibold text-gray-800">
      Smart recommendation
    </h3>

    <p class="text-sm text-gray-500 mt-2 mb-3 leading-relaxed">
      Let the system suggest the best table for you based on your preferences.
      Preferences will act as soft preferences rather than strict filters.
    </p>

    <p class="text-sm text-gray-500 mb-3">
      The top tables will be highlighted on the map:
    </p>

    <div class="flex flex-col gap-4 text-sm mb-4">
      <span class="flex items-center gap-1">
        🥇 <span class="text-yellow-400 font-medium">Best match</span>
      </span>

      <span class="flex items-center gap-1">
        🥈 <span class="text-gray-300 font-medium">Great option</span>
      </span>

      <span class="flex items-center gap-1">
        🥉 <span class="text-amber-700 font-medium">Good option</span>
      </span>
    </div>

    <p class="text-sm text-gray-500 mb-4">
      To generate recommendations the system must know the
      <span class="font-medium">number of guests</span>.
    </p>

    <label class="flex items-center mt-2 gap-2 cursor-pointer">
      <input 
        type="checkbox" 
        [(ngModel)]="recommend"
        name="recommend"
        class="w-4 h-4"
      />
      <span>Recommend the best table</span>
    </label>

  </div>

  <!-- Button -->
  <div class="mt-6">

    <button
      (click)="submit()"
      [disabled]="isSubmitDisabled()"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 
      disabled:bg-gray-400 disabled:hover:bg-gray-400
        disabled:cursor-not-allowed
        transition-colors"
    >
      Search Tables
    </button>

  </div>

</div>